* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    position: relative;
    background: #eeeeec;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 100%;
}

.wrapper {
    width: 320px;
    height: 540px;
    background: #31394D;
    transition: background .6s ease;
    border-radius: 10px;
    padding: 20px 20px 20px 20px;
    box-shadow: 0 8px 40px rgba(0, 0, 0, 0.2);
}

.wrapper .profile {
    margin-top: 2.2em;
    position: relative;
}

.wrapper .profile:after {
    width: 100%;
    height: 1px;
    content: ' ';
    display: block;
    margin-top: 2em;
    background: #E9EFF6;
}

.wrapper .profile .thumbnail {
    width: 124px;
    height: 124px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1.5em;
    border-radius: 100%;
    box-shadow: 0 13px 26px rgba(0, 0, 0, 0.2), 0 3px 6px rgba(0, 0, 0, 0.2);
}

.wrapper .profile .name {
    color: #FDFEFF;
    font-size: 24px;
    font-weight: 600;
    text-align: center;
}

.wrapper .profile .title {
    color: #7C8097;
    font-size: .75em;
    font-weight: 300;
    text-align: center;
    padding-top: .5em;
    padding-bottom: .7em;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.wrapper .profile .description {
    color: #FDFEFF;
    font-size: 14px;
    font-weight: 300;
    text-align: center;
    margin-bottom: 1.3em;
}

.wrapper .profile .btn {
    color: #fff;
    width: 130px;
    height: 42px;
    outline: none;
    border: none;
    display: block;
    cursor: pointer;
    font-weight: 300;
    margin-left: auto;
    margin-right: auto;
    border-radius: 70px;
    box-shadow: 0 13px 26px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.16);
    background: linear-gradient(to bottom right, #2F1C53, #A46DFF);
}

.wrapper .social-icons {
    display: flex;
    margin-top: 2em;
    justify-content: space-between;
}

.wrapper .social-icons .icon {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.wrapper .social-icons .icon a {
    color: #fff;
    width: 60px;
    height: 60px;
    font-size: 28px;
    line-height: 60px;
    text-align: center;
    border-radius: 30px;
    box-shadow: 0 13px 26px rgba(0, 0, 0, 0.2), 0 3px 6px rgba(0, 0, 0, 0.2);
}

.wrapper .social-icons .icon:nth-of-type(1) a {
    background: linear-gradient(to bottom right, #040404, #656565);
}

.wrapper .social-icons .icon:nth-of-type(2) a {
    background: linear-gradient(to bottom right, #0077B5, #00A0DC);
}

.wrapper .social-icons .icon:nth-of-type(3) a {
    background: linear-gradient(to bottom right, #00ACEE, #36D8FF);
}

.wrapper .social-icons .icon h4 {
    color: #FFFFFF;
    font-size: 1em;
    margin-top: 1.3em;
    margin-bottom: .2em;
}

.wrapper .social-icons .icon p {
    color: #666B7D;
    font-size: 12px;
}

.concept {
    position: absolute;
    bottom: 25px;
    color: #AAB0C4;
    font-size: .9em;
    font-weight: 400;
}

.concept a {
    color: #ac1966;
    text-decoration: none;
}
